<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>ph.pup.itech.ksnxprss.controller.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>products</servlet-name>
        <servlet-class>ph.pup.itech.ksnxprss.controller.products</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admincontrol</servlet-name>
        <servlet-class>ph.pup.itech.ksnxprss.controller.admincontrol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>main</servlet-name>
        <servlet-class>ph.pup.itech.ksnxprss.controller.main</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home/guest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home/ph</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>products</servlet-name>
        <url-pattern>/products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>products</servlet-name>
        <url-pattern>/products/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>products</servlet-name>
        <url-pattern>/products/update/form</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>products</servlet-name>
        <url-pattern>/products/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>products</servlet-name>
        <url-pattern>/products/create/form</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>products</servlet-name>
        <url-pattern>/products/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>products</servlet-name>
        <url-pattern>/products/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admincontrol</servlet-name>
        <url-pattern>/admincontrol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admincontrol</servlet-name>
        <url-pattern>/admincontrol/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admincontrol</servlet-name>
        <url-pattern>/admincontrol/update/form</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admincontrol</servlet-name>
        <url-pattern>/admincontrol/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admincontrol</servlet-name>
        <url-pattern>/admincontrol/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admincontrol</servlet-name>
        <url-pattern>/admincontrol/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>main</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>main</servlet-name>
        <url-pattern>/main/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>main</servlet-name>
        <url-pattern>/main/adminhomepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>main</servlet-name>
        <url-pattern>/main/homepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>main</servlet-name>
        <url-pattern>/main/forgotPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>main</servlet-name>
        <url-pattern>/main/forgotten</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>product</servlet-name>
        <servlet-class>ph.pup.itech.ksnxprss.controller.product</servlet-class>
    </servlet>
</web-app>
